

.lk-menu.active{
	width: 230px;
	border-bottom: 1px solid #333;
	font-family: Tahoma, Arial, sans-serif;
	background: none;
}
.lk-menu .name{
	text-align: center;
}
.lk-menu .expand{
	padding-left: 5px;
}

.lk-menu.active .name{
	color: #ffffff;
}
.lk-menu .name:after{
	border: 0;
}


.adressesPageContent .addressDesc {
		display: none;
	}




.cart .back-to {
	position: absolute;
	
}
body .back-to {
	display: inline-block;
	position: absolute;
	left: 39px;
		top: 16px;
	margin-right: 15px;
	padding: 2px 5px 4px 3px;
	border: 1px solid #d9d9d9;
	border-radius: 3px;
	background-color: #ededed;
	vertical-align: top;
	font: bold 11px/29px Tahoma, Arial, sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
	cursor: pointer;
}


.adressesPageContent{
	margin-top: 51px;
	padding-left: 17px;
	font: normal 14px/21px Tahoma;
}

	.adressesPageContent *{
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}
		.adressesPageContent .address + .address{
			margin-top: -1px;
		}
		.adressesPageContent .address .addressLine{
			border-top: 1px solid #e5e5e5;
			border-bottom: 1px solid #e5e5e5;
			font: normal 14px/21px Tahoma;
			display: block;
			padding: 10px 12px 10px 20px;
			width: 535px;
			margin: 0 auto;
		}
			.adressesPageContent .address .addressLine .addressPart{
				width: 250px;
				float: left;
				display: block;
			}
			.adressesPageContent .address .addressLine .deleteAddress{
				float: right;
				cursor: pointer;
				margin-top: 15px;
				margin-left: 15px;
			}
			.adressesPageContent .address .addressLine input{
				float: right;
				margin-top: 6px;
				width: 96px;
			}
			.adressesPageContent .address input.changeAddressButton{
				background: #8b8b8b;
				height: 30px;
				cursor: pointer;
				border:0;
				color: white;
				font: bold 11px/30px Tahoma;
				text-transform: uppercase;
				z-index: 2;
				position: relative;
			}
				.adressesPageContent .address input.changeAddressButton.pressed{
					background: #d8d8d8;
				}
	.adressesPageContent .address .addressDesc{
		background: url(../images/yellow-back.gif);
		padding-left: 20px;
		padding-top: 13px;
		padding-bottom: 24px;
		width: 535px;
		margin: 0 auto;
		border-top: 1px solid #e5e5e5;
		border-bottom: 1px solid #e5e5e5;
		margin-top: -1px;
	}

	
	.adressesPageContent .addressDesc .line{
		position: relative;
	}
		.adressesPageContent .addressDesc .line label{
			display: block;
			float: left;
			font: normal 14px/35px Tahoma;
			width: 155px;
			position: relative;
		}
			.adressesPageContent .addressDesc .line label sup{
				color: #a4348b;
				font-size: 9px;
			}
			.adressesPageContent .addressDesc .line label .plusSeven{
				color: #8b8b7c;
				position: absolute;
				right: 7px;
				top: 5px;
			}
		.adressesPageContent .addressDesc input[type="text"]{
			border: 1px solid #e5e5e5;
			font: normal 14px/16px Tahoma;
			padding-left: 10px;
			width: 323px;
			margin-top: 8px;
			height: 30px;
			margin-bottom: 4px;
		}
			.adressesPageContent .addressDesc input[type="text"].smallInput{
				width: 94px;
				float: left;
				margin-top: 3px;
			}
			.adressesPageContent .addressDesc input[type="text"].mediumInput{
				width: 180px;
			}
		
		.adressesPageContent .addressDesc .line.otherSity{
			padding-left: 155px;
			margin-top: 14px;
			margin-bottom: 15px;
		}
			.adressesPageContent .addressDesc .otherSity input[type="checkbox"]{
				display: none;
			}
			.adressesPageContent .addressDesc .otherSity input[type="checkbox"] + label {
				cursor: pointer;
				float: none;
				background: url(../images/check.gif) no-repeat;
				padding-left: 20px;
				line-height: 17px;
				width: 250px;
				padding-left: 31px;
			}
				.adressesPageContent .addressDesc .line.otherSity input[type="checkbox"]:checked + label{
					background-position: 0 -37px;
					
				}






	.adressesPageContent .addressDesc .submit{
		margin-top: 24px;
		padding-left: 155px;
	}
		.adressesPageContent .addressDesc .submit input[type="submit"]{
			background: #b24e9d;
			font: bold 11px/28px Tahoma;
			color: white;
			text-transform: uppercase;
			height: 30px;
			width: 180px;
			border: 0;
			cursor: pointer;
		}
			.adressesPageContent .addressDesc .submit input[type="submit"].notActive{
				background: #d8d8d8;
				cursor: default;
			}
			.adressesPageContent .addressDesc .submit input.changeAddressButton{
				width: 96px;
				margin-left: 7px;
			}



.adressesPageContent .message{
	position: relative;
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}
	.adressesPageContent .message a{
		text-decoration: none;
	}
	.adressesPageContent .message img{
		cursor: pointer;
		opacity: 0.7;
	}
	.adressesPageContent .message span{
		font: normal 14px/14px Tahoma;
		padding-left: 5px;
		color: #79796c;
	}

		.adressesPageContent .addressDesc .addressInputLine{
			margin-top: 2px;
			margin-bottom: 4px;
		}
		.adressesPageContent .addressDesc .addrNote{
			margin-top: 3px;
		}
			.adressesPageContent .addressDesc  textarea{
				border: 1px solid #e5e5e5;
				font: normal 14px/16px Tahoma;
				padding-left: 10px;
				width: 323px;
				margin-top: 7px;
				height: 48px;
				padding-top: 4px;
			}

.adressesPageContent .addressDesc .deleteAddrButton{
	font: 14px/21px Tahoma;
	color: #922f89;
	margin-top: 11px;
	cursor: pointer;
}
	.adressesPageContent .addressDesc .deleteAddrButton img{
		margin-right: 3px;
	}



.adressesPageContent .addAddress{
	padding-left: 19px;
	padding-top: 19px;
	padding-bottom: 30px;
	width: 535px;
	margin: auto;
}
	.adressesPageContent .addAddress a{
		text-decoration: underline;
		color: #922f89;
	}
.adressesPageContent .bottoAddressNote{
	margin: auto;
	border-top: 1px solid #d5d5d5;
	background: url(../images/footer-bg.jpg);
	color: #777777;
	padding-top: 14px;
	padding-left: 48px;
	line-height: 16px;
	position: relative;
	padding-right: 50px;
	padding-bottom: 18px;
	margin-bottom: 6px;
	width: 535px;
}
	.adressesPageContent .bottoAddressNote img{
		position: absolute;
		left: 19px;
		top: 22px;
	}




@media screen and (max-width: 767px){
	body .back-to{
		left: 60px;
	}
	.cardContent{
		width: 100%;	
	}
	.adressesPageContent{
		padding: 0;
	}
		.adressesPageContent .address .addressLine{
			width: 480px;
			padding-left: 3px;
			position: relative;
			padding-right: 0;
		}
			.adressesPageContent .address .addressLine .deleteAddress{
				position: absolute;
				right: -36px;
			}
		.adressesPageContent .address .addressDesc{
			width: 100%;
			margin-top: -1px;
			margin-bottom: -1px;
			z-index: 2;
			position: relative;
			padding-top: 14px;
			padding-left: 63px;
			padding-bottom: 25px;
			border: 0;
		}
		.adressesPageContent .addressDesc .addrNote label{
			line-height: 18px;
			margin-top: 9px;
			padding-right: 20px;
		}
	.adressesPageContent .addAddress{
		width: 480px;
		padding-left: 3px;
	}
	.adressesPageContent .bottoAddressNote {
		width: 480px;
		background: none;
		line-height: 17px;
		margin-bottom: 0;
		padding-left: 28px;
	}
		.adressesPageContent .bottoAddressNote img{
			left: 1px;
		}
	.cashFooter{
		margin-top: 42px;
	}

}


@media screen and (max-width: 599px){
	.adressesPageContent{
		width: 100%
	}

	body .back-to{
		position: absolute;
		left: 39px;
		top: 16px;
	}
.adressesPageContent {
	margin-top: 30px;
}
	.cardContent .payHeader h1{
		margin-bottom: 30px;
		padding-left: 50px;
	}
	.adressesPageContent .address .addressLine{
		width: 240px;
		padding-left: 0;
		margin-left: 40px;
		padding-bottom: 13px;
	}
		.adressesPageContent .address .addressLine input{
			margin-top: 11px;
			width: 85px;
		}
		.adressesPageContent .address .addressLine .deleteAddress{
			right: -22px;
			top: 33px;
		}
		.adressesPageContent .address .addressLine .addressPart{
			float: none;
		}
		.adressesPageContent .address input.changeAddressButton{
			float: none;
		}
	.adressesPageContent .address .addressDesc {
		padding-left: 40px;
		border-bottom: 1px solid #e5e5e5;
		border-top: 1px solid #e5e5e5;
	}
		.adressesPageContent .addressDesc .line label{
			width: 82px;
		}
		.adressesPageContent .addressDesc input[type="text"].mediumInput,
		.adressesPageContent .addressDesc input[type="text"]{
			width: 156px;
		}
			.adressesPageContent .addressDesc .line.otherSity{
				padding-left: 82px;
				margin-top: 3px;
				margin-bottom: 8px;
			}

			.adressesPageContent .addressDesc .otherSity input[type="checkbox"] + label{
				width: 180px;
				background: url(../images/check.gif) no-repeat left 10px;
				padding-left: 27px;
			}
			.adressesPageContent .addressDesc .line.otherSity input[type="checkbox"]:checked + label {
				background-position: 0 -27px;
			}
	.adressesPageContent .message {
		margin-top: 7px;
		margin-left: 9px;
	}
		.adressesPageContent .message span{
			display: none;
		}
			.adressesPageContent .addressDesc textarea {
				height: 85px;
				width: 156px;
			}

	.adressesPageContent .addressDesc .line label .plusSeven{
		display: none;
	}





	.adressesPageContent .addressDesc .submit{
		margin-top: 25px;
		padding-left: 0;
	}
		.adressesPageContent .addressDesc .submit input[type="submit"]{
			width: 240px;
		}
		.adressesPageContent .addressDesc .submit input.changeAddressButton{
			width: 84px;
			margin-left: 0;
			margin-top: 9px;
			float: left;
			margin-right: 24px;
			
		}

	.adressesPageContent .addAddress{
		width: 100%;
		padding-left: 37px;
	}
	.adressesPageContent .bottoAddressNote {
		width: 100%;
		padding-right: 40px;
		padding-left: 38px;
		margin-bottom: -29px;
	}
		.adressesPageContent .bottoAddressNote img{
			left: 9px;
			top: 16px;
		}
}











